/silverstripe-cache/
/.env
/vendor/
vendor
/themes/simple/
/_resources/
/public/_resources/
node_modules
/node_modules/

/silverstripe-cache/
/.env
/vendor/

/_resources/
/public/_resources/
/public/assets
/public/.well-known/apple-developer-merchantid-domain-association

node_modules
*.cache
*.log

/app/client/dist/
/app/client/src/egypt-html-files/

/localhost.cert
/localhost.key
