:root {
  --container-width: 1440px;
  --container-padding: 10px;

  @screen md {
    --container-padding: 20px;
  }

  @screen xl {
    --container-padding: 30px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: calc(var(--container-width) + (2 * var(--container-padding)));
}

.content-wrapper {
  @apply grid place-content-center;
}

[x-cloak] {
  display: none;
}
