[data-icon]:not([class]) {
  width: 1em;
  height: 1em;
}

[data-icon='circle-check'] {
  @apply relative text-primary;
  top: 3px;
}

[data-icon='circle-check-white'] {
  @apply relative;
  top: 3px;
}

strong {
  @apply font-medium;
}

a:not([class]) {
  @apply underline transition-all duration-300 ease-in-out text-primary;

  &:hover {
    @apply no-underline text-primary-darker;
  }
}
