[data-icon]:not([class]) {
  width: 1em;
  height: 1em;
}

[data-icon='circle-check'] {
  @apply relative text-primary-500;
  top: 3px;
}

[data-icon='circle-check-white'] {
  @apply relative;
  top: 3px;
}

strong {
  @apply font-medium;
}

a:not([class]) {
  @apply underline transition-all duration-300 ease-in-out text-primary-500;

  &:hover {
    @apply no-underline text-primary-700;
  }
}

.welcome-text {
  text-shadow: 1px 1px 10px #0008;
}
