.richtext {
  p {
    @apply my-4;
  }
}

.wysiwyg {
  h1,
  h2 {
    @apply mb-2 text-2xl text-primary-500;

    @screen md {
      @apply text-4xl;
    }

    @screen lg {
      @apply text-6xl;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-lg font-medium text-primary-500;

    @screen lg {
      @apply text-2xl;
    }
  }

  h2 + h3 {
    @apply mt-6;
  }

  hr {
    @apply my-8;

    @screen lg {
      @apply my-12;
    }
  }

  ul:not([class]) {
    li {
      @apply relative my-2;
      padding-left: 1.25em;

      &:before {
        content: '\2022';
        color: theme(colors.primary.default);
        font-weight: bold;
        font-size: 1.5em;
        line-height: 0.9;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  ol:not([class]) {
    @apply list-decimal list-inside;
  }
}

[data-whatinput='mouse'] {
  .touch-only {
    display: none;
    visibility: hidden;
  }
}

[data-whatinput='touch'] {
  .mouse-only {
    display: none;
    visibility: hidden;
  }
}
