.panel-video {
  .video-holder {
    @apply grid p-4;
    place-content: center;

    @screen md {
      @apply py-6;
    }

    @screen lg {
      @apply py-8;
    }

    a {
      @apply relative;

      &::before {
        @apply block absolute z-50 transition transition-opacity duration-300 ease-in-out;
        /* background-image: url(../images/play-button.svg); */
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        opacity: 0.75;

        @screen md {
          width: 200px;
          height: 200px;
          top: calc(50% - 100px);
          left: calc(50% - 100px);
        }

        @screen lg {
          width: 248px;
          height: 248px;
          top: calc(50% - 124px);
          left: calc(50% - 124px);
        }
      }

      &::after {
        @apply block absolute h-full w-full z-40 bg-white transition transition-opacity duration-300 ease-in-out;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.75;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 0.2;
        }
      }
    }

    img {
      @apply relative border;
    }
  }
}
