.panel-fund {
  .panel-fund-content {
    @apply flex flex-col items-center justify-center;

    @screen md {
      @apply flex-row flex-no-wrap items-center justify-center;
    }
  }

  .panel-fund-item {
    @apply w-full p-4;

    @screen md {
      @apply w-1/2 p-6;
    }

    @screen lg {
      @apply w-1/2 p-8;
    }

    &:nth-child(2) {
      @screen md {
        margin-left: 30px;
      }

      @screen lg {
        margin-left: 40px;
      }

      @screen xl {
        margin-left: 50px;
      }

      @screen 2xl {
        margin-left: 60px;
      }
    }
  }

  .main-image {
    @apply p-4;
    max-width: 100%;

    @screen lg {
      @apply p-0;
    }
  }

  .header-image {
    @apply p-4 mb-4;
    max-width: 250px;
    margin: 0 auto 1rem;

    @screen md {
      @apply p-0;
      margin: 0 0 1rem;
    }

    @screen lg {
      @apply mb-6;
      max-width: 350px;
    }
  }

  p {
    line-height: 1.33;
    max-width: 720px;
    @apply p-4 font-light text-base;

    @screen md {
      @apply p-0 text-lg;
    }

    @screen lg {
      @apply text-xl;
    }

    @screen xl {
      @apply text-2xl;
    }

    @screen 2xl {
      font-size: 30px;
    }

    strong {
      @apply font-semibold;
    }
  }

  .btn-toolbar {
    @apply px-4 mt-4 flex justify-center items-center;

    @screen md {
      @apply px-0 justify-start items-start;
    }

    @screen lg {
      @apply mt-6;
    }
  }
}
