header.site-header {
  @apply grid p-4 text-center;
  place-content: center;

  @screen sm {
    padding-top: 20px;
  }

  @screen md {
    padding-top: 25px;
  }

  @screen lg {
    padding-top: 30px;
  }

  /* @screen xl {
    padding-top: 50px;
  }

  @screen 2xl {
    padding-top: 60px;
  } */

  @screen 3xl {
    padding-top: 70px;
  }

  img {
    @apply p-4;
    max-width: 250px;

    @screen sm {
      max-width: 300px;
    }
    @screen md {
      max-width: 420px;
    }
    @screen 3xl {
      max-width: 500px;
    }
  }

  h1 {
    @apply font-light text-xl leading-none;

    @screen md {
      @apply text-2xl;
    }
    @screen lg {
      @apply text-3xl;
    }
    @screen xl {
      @apply text-4xl;
    }
    @screen 2xl {
      font-size: 40px;
    }
    @screen 3xl {
      @apply text-5xl;
    }
  }

  .phone-link {
    @apply text-secondary mt-1 transition duration-300 transition-colors ease-in-out font-semibold;

    &:hover {
      @apply text-secondary-darker;
    }

    @screen md {
      @apply text-lg mt-2;
    }
    @screen lg {
      @apply text-xl;
    }
    @screen xl {
      @apply text-2xl;
    }
    @screen 3xl {
      @apply text-3xl mt-6;
    }
  }
}
