.button {
  @apply inline-block w-full px-3 py-1 text-base font-medium text-center transition-colors duration-300 ease-in-out border border-transparent rounded-md;

  @screen xl {
    @apply px-4 py-2 text-lg;
  }
}

.button-hollow-dark {
  @apply text-black border border-black;

  &:hover,
  &:focus,
  &:active {
    @apply text-white bg-black border-black;
  }
}

.button-primary {
  @apply text-white border border-primary bg-primary;

  &:hover,
  &:focus,
  &:active {
    @apply text-white bg-primary-darker border-primary-darker;
  }
}

.button-secondary {
  @apply text-white border border-secondary bg-secondary;

  &:hover,
  &:focus,
  &:active {
    @apply text-white bg-secondary-darker border-secondary-darker;
  }
}

.button-disabled {
  @apply text-white bg-gray-400 border border-gray-400 cursor-not-allowed;

  &:hover,
  &:focus,
  &:active {
    @apply text-white bg-gray-400 border-gray-400;
  }
}

.button-group {
  .button:not(:last-child) {
    @apply mr-2;

    @screen md {
      @apply mr-3;
    }

    @screen xl {
      @apply mr-4;
    }
  }
}

.button-toolbar {
  @apply flex items-center justify-start;
}

.button-toolbar-center {
  @apply flex items-center justify-center my-4;
}

.button-loading {
  @apply relative overflow-hidden text-transparent pointer-events-none;

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: loading-dots 1s linear infinite alternate;
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 12px);
    opacity: 0.8;
  }
}

@keyframes loading-dots {
  0% {
    background-color: #ffffffff;
    box-shadow: 12px 0px 0px 0px #ffffff33, 24px 0px 0px 0px #ffffff33;
  }

  25% {
    background-color: #ffffff99;
    box-shadow: 12px 0px 0px 0px #ffffffff, 24px 0px 0px 0px #ffffff33;
  }

  75% {
    background-color: #ffffff99;
    box-shadow: 12px 0px 0px 0px #ffffff33, 24px 0px 0px 0px #ffffffdd;
  }
}

button {
  @apply outline-none;

  &:focus {
    @apply outline-none;
  }
}
