form {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input {
    @apply w-full py-2 px-3 border-b border-gray-600 outline-none;

    @screen md {
      @apply py-3 px-4;
    }

    &:focus {
      @apply outline-none;
    }
  }

  .message.required {
    @apply hidden;
  }
}
