form {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    @apply w-full px-3 py-2 border-b border-gray-600 rounded-none outline-none appearance-none;

    @screen md {
      @apply px-4 py-3;
    }

    &:focus {
      @apply outline-none;
    }
  }

  .message.required {
    @apply hidden;
  }
}

.contact-form {
  label {
    @apply block mb-2 text-sm font-bold text-gray-700;
  }
  input,
  textarea {
    @apply w-full px-3 py-2 leading-tight text-gray-700 border border-gray-400 rounded appearance-none;

    &:focus {
      @apply shadow-outline outline-none;
    }

    &:hover {
      @apply border-gray-700;
    }

    @screen md {
      @apply px-4 py-3;
    }
  }

  .field.file {
    @apply relative;

    input[type='file'] {
      @apply absolute inset-0 opacity-0 pointer-events-none;
    }

    &.has-error {
      .file-input-placeholder {
        @apply border-red-800;
      }
    }

    .file-input-placeholder {
      @apply relative flex items-center w-full px-3 py-2 leading-tight text-gray-700 truncate bg-white border border-gray-400 rounded cursor-pointer;

      @screen md {
        @apply px-4 py-3;
      }

      &.filled {
        @apply font-normal;

        @screen md {
          @apply;
        }
      }

      &:hover {
        @apply border-gray-700;
      }
    }

    .description {
      @apply text-xs;
    }
  }
}
